integration/mtwilson-xmlpatch-xml/src/main/resources/jaxb/mtwilson-xmlpatch-xml/rfc7351.xsd

<xs:schema targetNamespace="urn:ietf:rfc:XXXX"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:import schemaLocation="rfc5261.xsd"/>
 <xs:element name="patch">
     <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
             <xs:element name="add" type="add"/>
             <xs:element name="remove" type="remove"/>
             <xs:element name="replace" type="replace"/>
         </xs:choice>
     </xs:complexType>
 </xs:element>
</xs:schema>