services/mtwilson-vm-attestation-ws-v2/src/main/resources/trustdirector/trust-policy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Manifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Headers">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Customer_ID"/>
              <xs:element type="xs:string" name="Image_ID"/>
              <xs:element type="xs:string" name="Launch_Policy"/>
              <xs:element type="xs:string" name="Hash_Type"/>
              <xs:element type="xs:string" name="Hidden_Files"/>
              <xs:element type="xs:string" name="Image_Hash"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="File_Hashes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Measurement_Exclude_Files">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="FilePath" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dir" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="File_Hash" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="file_path" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="dir_hash" use="optional"/>
                  <xs:attribute type="xs:byte" name="file_count" use="optional"/>
                  <xs:attribute type="xs:string" name="filter" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>