services/mtwilson-attestation-model/src/main/resources/xsd/host_trust_report.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <xsd:element name="hosts_trust_report" type="hosts_trust_reportType" />
  <xsd:complexType name="hosts_trust_reportType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Host" type="HostType2" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HostType2">
    <xsd:attribute name="Host_Name" type="xsd:string" />
    <xsd:attribute name="MLE_Info" type="xsd:string" />
    <xsd:attribute name="Created_On" type="xsd:dateTime" />
    <xsd:attribute name="Trust_Status" type="xsd:int" />
    <xsd:attribute name="Verified_On" type="xsd:dateTime" />
  </xsd:complexType>
</xsd:schema>