services/mtwilson-trustagent-model/src/main/resources/xsd/ta_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">   
	<xsd:element name="client_request" type="client_requestType" />
	<xsd:complexType name="client_requestType">
	<xsd:sequence>
		<xsd:element name="timestamp" type="xsd:string" />
		<xsd:element name="clientIp" type="xsd:string" />
		<xsd:element name="error_code" type="xsd:int" />
		<xsd:element name="error_message" type="xsd:string" />
		<xsd:element name="aikcert" type="xsd:string" />
		<xsd:element name="quote" type="xsd:string" />
	</xsd:sequence>
	</xsd:complexType>
</xsd:schema>