services/AttestationService/src/main/resources/xsd/ta_quoterequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">   
  <xsd:element name="quote_request">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nonce" type="xsd:string" />
        <xsd:element name="pcr_list" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>